body{
  top: 0;
  left: 0;
  -webkit-animation: background-color 4s linear infinite alternate both;
  animation: background-color 4s linear infinite alternate both;
}

@-webkit-keyframes background-color {
  0% {
    background: #9DC98A;
  }
  100% {
    background: #5F9747;
  }
}
@keyframes background-color {
  0% {
    background: #9DC98A;
  }
  100% {
    background: #5F9747;
  }
}