body{
  top: 0;
  left: 0;
  -webkit-animation: background-color 4s linear infinite alternate both;
  animation: background-color 4s linear infinite alternate both;
}

@-webkit-keyframes background-color {
  0% {
    background: #b6d7a8;
  }
  100% {
    background: #6aa84f;
  }
}
@keyframes background-color {
  0% {
    background: #b6d7a8;
  }
  100% {
    background: #6aa84f;
  }
}