body{
  top: 0;
  left: 0;
  -webkit-animation: background-color 4s linear infinite alternate both;
  animation: background-color 4s linear infinite alternate both;
}

@-webkit-keyframes background-color {
  0% {
    background: #1d701dce;
  }
  100% {
    background: #00ff4071;
  }
}
@keyframes background-color {
  0% {
    background: #1d701dce;
  }
  100% {
    background: #00ff4071;
  }
}