nav{
    width: 20px;
    height: 11rem;
    margin-top: 35vh;
    position: fixed;
    background-color: #000000;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: 0.1s;
    overflow: hidden;
}
  
nav:hover{
    width: 9rem;
}

nav ul{
    display: flex;
    flex-direction: column;
}
  
nav ul li{
    position: relative;
    margin-left: 30px;
    padding-top: 25px;
    white-space: nowrap;
}

nav ul li a{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: antiquewhite;
    text-decoration: none;
}
  
nav ul li i{
    font-size: 20px;
    color: antiquewhite;
}