* {
    scrollbar-width: thin;
    scrollbar-color: #000000e6 #00000000;
}

*::-webkit-scrollbar {
    width: 12px;
    width: 12px;
}

*::-webkit-scrollbar-track {
    border-radius: 13px;
    background-color: #00000099;
}

*::-webkit-scrollbar-track:hover {
    background-color: #00000099;
}

*::-webkit-scrollbar-track:active {
    background-color: #c8c8c84d;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #000000e6;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #000000b3;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #000000b3;
}