*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

section{
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    height: auto;
    border-bottom: 5px solid gray;
    padding-bottom: 20px;
    padding-top: 20px;
}

h1{
    font-size: 2rem;
}

/*------------------------------------------- Secção - Sobre mim -----------------------------------------*/
.sobreMim{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.sobreMim .apresentacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobreMim .apresentacao img{
    height: 35vw;
    width: 35vw;
    border-radius: 90%;
    padding-bottom: 20px;
}

.sobreMim .sobreTexto h1{
    text-align: center;
    text-justify: auto;
}

.sobreMim .sobreTexto p{
    font-size: 20px;
    padding-top: 20px;
    text-align: justify;
}

.sobreMimIcon{
    display: flex;
    padding-top: 5vh;
    justify-content: space-around;
    align-items: center;
}

.sobreMim i{
    font-size: 4rem;
}

.sobreMimIcon div{
    text-align: center; 
    overflow-y: hidden;
    background-color: #f3f6f4;
    width: 5rem;
    height: 4rem;
    border-radius: 30%;
    border: 2px double black;
}


/*------------------------------------------- Secção - Skills--------------------------------------------*/

.tituloSecundario{
    text-align: center;
    overflow: hidden;   
}

.skillsPopUp{
    padding-top: 5vh;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.popUp{
    justify-content: center;
    align-items: center;
    margin: 5px;
    text-align: center;
    background-color: #f3f6f4;
    border-top-left-radius: 20%;
    border: 2px solid black;
    border-bottom: 10px solid black;
    width: 20vh;
}

.popUp i{
    font-size: 5rem;
    color: black;
}

.popUp p{
    font-weight: bold;
    font-size: 1rem;
    color: black;
}
/*------------------------------------------- Secção - Projetos------------------------------------------*/

.projetosConteudo{
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
    align-items: center;
}

.projetosLinks{
    width: 40vw;
    height: 50vh;
}
 
.imagem{
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------------------------------- Animacoes -------------------------------------------------*/


/*Animação no nome*/
.nomeAnimacao {
	-webkit-animation: nomeAnimacao 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	animation: nomeAnimacao 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

@-webkit-keyframes nomeAnimacao {
  0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
  100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
  }
}
@keyframes nomeAnimacao {
  0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
  }
  100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
  }
}